.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10em;
}

.tileBoard {
  position: relative;
  width: 1000px;
  height: 900px;
  background-color: transparent; /* remove green board background */
}

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.tileInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tileInner img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    pointer-events: none;
  }

.covered {
  background: #ccc;
  opacity: 0.4;
  pointer-events: none;
}

.queueBar {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  background: #3c3aa3;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.queueTile {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
